<!-- This template represents a blueprint to load a new article. -->
<article id="">
    <header>
        <h2 class="heading"></h2>
        <h3>
            <ul class="list-inline" style="padding-left: 5px;">
                <li class="badge text-bg-light"><i class="fa fa-hashtag fa-fw"></i> <span class="article-id"></span></li>
                <li class="badge text-bg-light"><i class="fa fa-calendar fa-fw"></i> <span class="date"></span></li>
                <li class="badge text-bg-dark"><i class="fa fa-video fa-fw"></i> <span class="video-count"></span></li>
                <li class="badge text-bg-dark"><i class="fa fa-camera fa-fw"></i> <span class="image-count"></span></li>
            </ul>
        </h3>
    </header>
    <p class="lead content"></p>
    <div class="videos"></div>
    <div class="figures"></div>
</article>
<hr>
